.private/
.pytest_cache/
.task/
.venv/
.direnv/
.devenv/
.devenv*
devenv.local.nix
devenv.local.yaml
*.crt
*.env
*.iso
*.key
.decrypted~*
.DS_Store
Brewfile.lock.json
Thumbs.db
kubeconfig
talosconfig
tmp
