---
machine:
  type: controlplane
  install:
    diskSelector:
      serial: P300NDBB2510091860
  nodeLabels:
    node.kubernetes.io/coral: "true"
    topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: hyperion-0
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "b0:41:6f:10:7c:e5"
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 192.168.20.29
link: net0
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: net0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: net0.3
vlanID: 3
vlanMode: 802.1q
parent: net0
up: true
addresses:
  - address: 192.168.30.240/24
